{% extends 'bootstrap_demo.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}


{% block content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=80) }}">
        <h1>Hello {{ user.username }}</h1>
        {% if user.name or user.location %} <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">
                {{ user.location }}
            </a>
            {% endif %} </p>
        {% endif %}

          {% if current_user.can(Permission.FOLLOW) and user!= current_user %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('.follow',username=user.username) }}" class="btn-primary">关注</a>
                    {% else %}
                        <a href="{{ url_for('.unfollow',username=user.username) }}" class="btn-primary">取消关注</a>
                    {% endif %}
                    {% endif %}

                    <a href="{{ url_for('.followers',username=user.username) }}">
                        粉丝数: <span class="badge">{{ user.followers.count() }}</span>
                    </a>
                    <a href="{{ url_for('.followed',username=user.username) }}">
                        关注数: <span class="badge">{{ user.followed.count() }}</span>
                    </a>
                    {% if user != current_user and user.is_following(current_user) %}
                        | <span class="label-default">关注了你</span>
                    {% endif %}





        {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p> {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %} <p>
        Member since {{ moment(user.member_since).format('LL') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}.
    </p>
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLE) %}
            {% include '_posts.html' %}
        {% endif %}


    </div>





{% endblock %}
